
body {
    font-family: $fontFamily;
    background-image: url('https://cdn4.iconfinder.com/data/icons/blogging-1/50/6-512.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px 600px;


}


body{
    background-repeat:no-repeat;

}


button  {
    @extend .button-basic;
    background-color: rgb(14, 18, 53);
    color: white;
    margin-left: 80px;

  }

.inputs {
    @extend .input-basic;
    margin-left: 80px;   
}
header {
    font-weight: bold;
    font-size: 50px;
    margin: 40px 80px ;
    
}

p {
    font-size: $fontSize;
    margin-left: 80px;
}

#title{
    font-weight: bolder;
    margin-bottom: 20px;
}


footer{
  margin-left: 80px;
  margin-top: 50px;
}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 80px;
    height: 25px;
    width: 25px;
    background-color: #2196F3;
  }
  
  .container:hover input ~ .checkmark {
    background-color: rgb(245, 242, 59);
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
 
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #state{
      margin-left: 80px;
  }


  

