$bgcolor : blue;
$fontFamily : Helvetica, sans-serif;
$fontSize: 20px;

.button-basic  {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 30px;
  }

.input-basic {
  position: relative;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    // margin-right: 100%;
}

// $paragraph: font-size: 50px;
    




