body {
    background-image: url('https://cdn4.iconfinder.com/data/icons/blogging-1/50/6-512.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px 600px;
    background-repeat:no-repeat;
}


body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}
h3, h1{
    margin-left:50px;
    margin-top: 50px; 

}


footer{
    margin-left:50px;
    margin-top: 50px; 

}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-left: 50px;

    form {
        font-size: 20px;
        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;

            input{
                position: relative;
                width: 300px;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                &:hover {
                    background: rgb(204, 202, 202);
                    color: black
                }
            }
        }

        #add{
            border: none;
            padding: 15px 30px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            background-color:rgb(231, 209, 209) ;
            &:hover {
                background: rgb(22, 1, 1);
                color: white
            }
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

            &.complete-true {
              span {
                background: pink;
                text-decoration:line-through;
                &:hover {
                   background: seagreen;
                }
              }
            }


            span {
                background: #e0e0e0;
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }

         
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 200px;
                 height: 20px;
                 font-size: 20px;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
                font-size: 20px;

            }

        }
    }

}
.allModel{
    
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;    
        overflow: auto;        
        margin-left: 30%;
      
}
.modal{
background-color: gray;
border: solid;
width: 500px;
height: 250px;
font-size: 20px;
text-align: center;
header{
    span {
        margin-right: 50px;
     }
}
.modalDet{
    font-size: 30px;
}
}

.modalDet{
 padding: 50px;

}
.title{
    font-size: 20px;
}
.close{
margin-left: 387px;
border: none;
background-color: rgb(59, 55, 55);
font-size: 20px;
&:hover {
    background: rgb(18, 190, 233);
}

}

.bar{
    
    z-index: 1;  
    left: 0;
    top: 0;    
    overflow: auto;        
    margin-left: 30%;
    position: absolute;
    margin-top: 500px;
    
}
.pages{
    font-size: 20px;
    margin-bottom: 10px;

}

.button{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color:rgb(231, 209, 209) ;
    &:hover {
        background: rgb(22, 1, 1);
        color: white
    }
}

.auth{

    z-index: 1;  
    left: 0;
    top: 0;    
    overflow: auto;        
    margin-left: 30%;
    position: absolute;
    margin-top: 300px;

}

.login{
    margin-bottom: 20px;
    
}

.logg{
    border: .5px solid rgb(161, 158, 158);
    display:inline-block;
    padding: .2em .25em;
    width: 200px;
    height: 20px;
    font-size: 20px;
    margin-left: 10px;
}

.log{

    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color:rgb(231, 209, 209) ;
    &:hover {
        background: rgb(22, 1, 1);
        color: white
    }

}

.ability{
    font-size: 20px;
    margin-top: 20px;
}